<!DOCTYPE html>
<html>
    <%- include('./partials/head', {title: 'Inicio'}) %>

     <body class="body-index"></body>
    <%- include('./partials/header') %>   
    <main class="main-index">
        <div class="banner">
            <img src="/img/banerl.jpg" alt="">
            <img src="/img/baner2.jpg" alt="">
            <img src="/img/baner3.jpg" alt="">

        </div>
 
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/js/jquery.slides.js"></script>
    <script>
        $(function(){
  $(".banner").slidesjs({
    play: {
      active: true,
        // [boolean] Generate the play and stop buttons.
        // You cannot use your own buttons. Sorry.
      effect: "slide",
        // [string] Can be either "slide" or "fade".
      interval: 3000,
        // [number] Time spent on each slide in milliseconds.
      auto: true,
        // [boolean] Start playing the slideshow on load.
      swap: true,
        // [boolean] show/hide stop and play buttons
      pauseOnHover: false,
        // [boolean] pause a playing slideshow on hover
      restartDelay: 2500
        // [number] restart delay on inactive slideshow
    }
  });
});
    </script>
        <h2>Ultimas Vistas</h2>
        <div class="contenedor-por-seccion">
        <% products.forEach(product => { %>
            <% if (product.type === 'ultimas-vistas') { %>
            <div class="contenedor">
                <img src="/img" <%= product.image %>  alt="">
                <h3><%= product.name %></h3>
                <h4>$<%= product.price %> ARS</h4>
                <h5><%= product.discount %> % off</h5>
                <i id="carrito" class="fas fa-dolly"></i>
            </div>
            <% } %>
            <% }) %>
            <!-- <div class="contenedor">
                <img src="/img/Bicicleta-Venzo-Primal-EX.jpg" alt="">
                <h3>Venzo Primal-EX r 27.5</h3>
                <h4>$ 70.000</h4>
                <i id="carrito" class="fas fa-dolly"></i>
            </div>
            <div class="contenedor">
                <img src="/img/Marco-veleta.jpg" alt="">
                <h3>Marco Veleta MTB r 27.5</h3>
                <h4>$ 40.000</h4>
                <i id="carrito" class="fas fa-dolly"></i>
            </div>
            <div class="contenedor">
                <img src="/img/camara.jpg" alt="">
                <h3>Camara Importada HUTCHINSON r 29</h3>
                <h4>$ 3.000</h4>
                <i id="carrito" class="fas fa-dolly"></i>
            </div>
        </div> -->
        </div>
        <h1>NOVEDADES</h1>
        <div class="contenedor-por-seccion">
            <% products.forEach(product => { %>
                <% if (product.type === 'novedades') { %>
                <div class="contenedor">
                    <img src="/img" <%= product.image %>  alt="">
                    <h3><%= product.name %></h3>
                    <h4>$<%= product.price %> ARS</h4>
                    <h5><%= product.discount %> % off</h5>
                    <i id="carrito" class="fas fa-dolly"></i>
                </div>
                <% } %>
                <% }) %>
            </div>
            <!-- <div class="contenedor">
                <img src="/img/niña1.jpg" alt="">
                <h3>Bike Intantil Lady Niña r 16</h3>
                <h4>$ 21.999</h4>
                <i id="carrito" class="fas fa-dolly"></i>
            </div>
            <div class="contenedor">
                <img src="/img/casco3.jpg" alt="">
                <h3>Casco MTB ambos</h3>
                <h4>$ 8.999</h4>
                <i id="carrito" class="fas fa-dolly"></i>
            </div>
            <div class="contenedor">
                <img src="/img/porta-celular.jpg" alt="">
                <h3>Porta Celular</h3>
                <h4>$ 2.000</h4>
                <i id="carrito" class="fas fa-dolly"></i>
            </div>
        </div> -->
        <h1>PROMOCIONES</h1>
        <div class="contenedor-por-seccion">
            <% products.forEach(product => { %>
                <% if (product.type === 'promociones') { %>
                <div class="contenedor">
                    <img src="/img" <%= product.image %>  alt="">
                    <h3><%= product.name %></h3>
                    <h4>$<%= product.price %> ARS</h4>
                    <h5><%= product.discount %> % off</h5>
                    <i id="carrito" class="fas fa-dolly"></i>
                </div>
                <% } %>
                <% }) %>
                <i id="carrito" class="fas fa-dolly"></i>
            </div>
            <!-- <div class="contenedor">
                <img src="/img/Vairo-Bikes-Mobile.jpg" alt=""><br>
                <h3>Vairo Bikes-Mobile r29</h3>
                <div class="h4-h5">
                    <h4>$7.499</h4> 
                    <h5>10% off</h5>
                </div>
                <i id="carrito" class="fas fa-dolly"></i>
            </div> -->
        
    </main>
    
    <%- include('./partials/footer') %>

</body>
</html>