<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {title: 'Perfil'}) %>
<body class="main-index">
    <%- include('partials/header') %> 
    
    <main class="main-index">
        
        <h1>Perfil Usuario <%= Usuarios.nombre %> <%= Usuarios.apellido %></h1><br>
        <div class="contenedor-por-seccion">
                 <div class="contenedor">
                        <img src="/img/users/<%= Usuarios.image %>"  alt="">
                        <h3><%= Usuarios.nombre %> <%= Usuarios.apellido %></h3>
                        <h3><%= Usuarios.documento %></h3>
                        <h3>Usuario #<%= Usuarios.id %></h3>
                        <h3><%= Usuarios.email %></h3>
                    <form action="/user/delete/<%= Usuarios.id %>?_method=DELETE" method="POST">
                    <button style="background-color: red; font-size: 20px; margin-left: 15px;" type="submit">Eliminar</button>
                    </form>
                    <a href="/user/edit/<%= Usuarios.id %>"><button style="background-color: green; font-size: 20px; margin: 5px 0; ">Editar</button></a>
                </div>
            </div>
    </main>

</body>
</html>
