<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>
<body class="body-agregarProd">
    <main class="body-agregarProd">
        <% if (typeof errors != 'undefined') { %>
            <p style="color: rgb(240, 15, 15); font-family: 'Fjalla One', sans-serif; font-size: 1.5vw;">ERROR</p>
            <ul>
                <% for( let i = 0; i < errors.length; i++) { %>
                <li>
                    <%= errors[i].msg%>
                </li>
                <% } %>
            </ul>
        <% } %>
        <h1>FORMULARIO CARGA DE PRODUCTO</h1>
        <div class="contenedor-agregarProd">
            <form action="/products" method="POST" enctype="multipart/form-data">
            <div class="form-agregarProd">
                <label>Nombre del Producto</label>
                <input type="text" name="name" value="<%= locals.old && old.name ? old.name : ''%>">
            </div>
            <div class="form-agregarProd">
                <label>Descuento</label>
                <input type="number" name="discount" >
            </div>
            <div class="form-agregarProd">
                <label>Precio</label>
                <input type="number" name="price" value="<%= locals.old && old.price ? old.price : ''%>">
            </div>
            <div class="form-agregarProd">
                <label>Categoría:</label>
                <select name="category" value="<%= locals.old && old.category ? old.category : ''%>">
                    <option value="Accesorio">Accesorios</option>
                    <option value="Bicicleta">Bicicletas</option>
                    <option value="Repuesto">Repuestos</option>
                </select>
            </div>
            <div class="form-agregarProd">
                <label>Tipo:</label>
                <select name="type" value="<%= locals.old && old.type ? old.type : ''%>">
                    <option value="promociones">Promociones</option>
                    <option value="novedades">Novedades</option>
                    <option value="ultimas-vistas">Ultimas vistas</option>
                </select>
            </div>
            <div class="form-agregarProd">
                <label>Descripción</label>
                <textarea name="description" id="" cols="30" rows="10" value="<%= locals.old && old.description ? old.description : ''%>"></textarea>
            </div>
            <div class="form-agregarProd">
                <label>Seleccionar Imagen</label>
                <input type="file" name="image" accept=".jpg, .png" class="control-input" required>
            </div>
            <button type="submit"  class="boton-agregarProd">ENVIAR</button>
        </form>
                 
        </div>
    </main>    
</body>
</html>
