<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {title: 'Productos Encotrados'}) %>
<body class="main-index">
    <%- include('partials/header') %> 
    
    <main class="main-index">
        
        <h1>PRODUCTOS ENCONTRADOS</h1><br>
        <div class="contenedor-por-seccion">
        <% resultado.forEach(producto => { %>
                 <div class="contenedor">
                <a href="/products/productDetail/<%= producto.id %>" id="contenedor"><img src="/img/products/<%= producto.image %>"  alt=""></a>
                <h3><%= producto.name %></h3>
                <h4>$<%= producto.price %> ARS</h4>
                <h5><%= producto.discount %> % off</h5>
                
            </div>
            <% }) %>
        </div>
    </main>
</body>
</html>