<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body class="fondo-main1">
    <%- include('./partials/header', {title: 'Registro de Usuarios'}) %>
    <main class="fondo-main1">
        <a style="align-items: center;" href="/proveedor/loginProv"><button type="button" class="boton-form"> YA ESTOY REGISTRADO</button></a>
        <% if (typeof errors != 'undefined') { %>
            <p style="color: white; font-family: 'Fjalla One', sans-serif; font-size: 1.5vw;">ERROR</p>
            <ul>
                <% for( let i = 0; i < errors.length; i++) { %>
                <li style="color: white;" >
                    <%= errors[i].msg%>
                </li>
                <% } %>
            </ul>
        <% } %>
        <form action="/proveedor/registerProveedor" method="POST"  class="style-form" >
            <div class="control-form">   
                <input type="text" name="nombre" placeholder="NOMBRE" class="control-input" value="<%= locals.old && old.nombre ? old.nombre : ''%>" />
            </div>
            <br>
            <div class="control-form">
              <input type="text" name="apellido" placeholder="APELLIDO" class="control-input" value="<%= locals.old && old.apellido ? old.apellido : ''%>" />
            </div>
            <br>
            <div class="control-form">
                <input type="number" name="documento" placeholder="DOCUMENTO" class="control-input" value="<%= locals.old && old.documento ? old.documento : ''%>" />
            </div>
            <br>
            <div class="control-form">
                <input type="text" name="direccion" placeholder="DIRECCIÓN" class="control-input" value="<%= locals.old && old.direccion ? old.direccion : ''%>" />
            </div>
            <br>
            <div class="control-form">
                <input type="email" name="email" placeholder="CORREL ELECTRONICO"   class="control-input" value="<%= locals.old && old.email ? old.email : ''%>" >
            </div>
            <br>
            <div class="control-form">
                <input type="password" placeholder="CONTRASEÑA" name="contraseña" class="control-input" >
            </div>
                <a href=""><button type="submit" class="boton-form">REGISTRARSE</button></a>
        </form>
       
    </main>
   
</body>
</html>