<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {title: 'Home Usuarios'}) %>
<body class="main-index">
    <header class="user">
        <div class="contenedor-user">
            <img src="/img/products/logo.jpeg" alt="">
            <p>TODO A PEDAL</p>
            <form action="/products/search" method="GET" class="lupa"> 
                <input type="text" class="input" name="search">
                <button type="submit"><i id="uni" class="fas fa-search"></i></button>
            </form>
            <div class="contenedor-user-login">
                        <a id="image" href="/user/usersDB"><img src="/img/users/<%= usuarios.image %>"  alt=""  id="image" class="image"></a>
                        <div id="contenedor-user-login">
                            <h3>Bienvenido</h3>
                            <h4><%= usuarios.nombre %></h4>
                            <h5><%= usuarios.documento %></h5>
                            <h5>Usuario #<%= usuarios.id %></h5>
                        </div>
            </div>
        </div>

        <nav class="nav-user">
            <ul>
                <li><a href="">EMPRESA</a></li>
                <li><a href="/products">PRODUCTOS</a></li>
                <li><a href="">CONTACTOS</a></li>
                <li><a href="/products/producCart">CARRITO</a><i id="uni" class="fas fa-shopping-cart"></i></li>
              
            </ul>
        </nav> 
        </header> 
  <main class="main-index">
        <div class="banner">
            <img src="/img/products/banerl.jpg" alt="">
            <img src="/img/products/baner2.jpg" alt="">
            <img src="/img/products/baner3.jpg" alt="">
        </div>
 
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/js/jquery.slides.js"></script>
    <script>
        $(function(){
  $(".banner").slidesjs({
    play: {
      active: true,
        // [boolean] Generate the play and stop buttons.
        // You cannot use your own buttons. Sorry.
      effect: "slide",
        // [string] Can be either "slide" or "fade".
      interval: 3000,
        // [number] Time spent on each slide in milliseconds.
      auto: true,
        // [boolean] Start playing the slideshow on load.
      swap: true,
        // [boolean] show/hide stop and play buttons
      pauseOnHover: false,
        // [boolean] pause a playing slideshow on hover
      restartDelay: 2500
        // [number] restart delay on inactive slideshow
    }
  });
});
    </script>
       
    </main>
    
    <%- include('./partials/footer') %>

</body>
</html>