<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: 'Detalle del Producto'}) %>
<body>
    <%- include('./partials/header') %>
     <main class="main-producto">
              <div class="contenedor-por-seccion">
               <div class="contenedor-producto">
                <img src="/img/<%= detailProduct.image %>" alt="">
                <div class="nombre-precio-cod">
                    <h3><%= detailProduct.name %> </h3>
                    <H5>CODIGO  00<%= detailProduct.id %> </H5>
                    <h4>$ <%= detailProduct.price %> ARS </h4>
                    <H5><%= detailProduct.id%> % Off </H5>
                    <div class="cant-prod1">
                        <label>Cantidad</label>
                        <input type="number" name="cantidad-producto" value="1" min="1" max="100" >
                        <div class="boton-agregar-carrito1">
                            <button type="submit" >AGREGAR AL CARRITO</button>
                        </div>
                    </div>

                </div>                
            </div>
                <div class="cantidad-boton">
                    <div class="cant-prod">
                        <label>Cantidad</label>
                        <input type="number" name="cantidad-producto" value="1" min="1" max="100" >
                    </div>
                    <div class="boton-agregar-carrito">
                        <button type="submit" >AGREGAR AL CARRITO</button>
                    </div>
                </div>
        </div>
            
        <h1>DESCRIPCIÓN</h1><br>
        <article>
           <p><%= detailProduct.description %> </p> <br>
        </article>
           
    </main>
    <%- include('./partials/footer') %>
</body>
</html>