<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>
<body class="body-agregarProd">
    <main class="body-agregarProd">
        <h1>FORMULARIO EDICIÓN DE PRODUCTO <%= Producto.name %> </h1>
        <div class="contenedor-agregarProd">
            <form action="/products/edit/<%= Producto.id %>?_method=PUT" id="form" method="POST" >
                <div class="form-agregarProd">
                <label>Nombre del Producto</label>
                <input type="text" name="name" id="name" value="<%= Producto.name %>">
                </div> 
                <div class="form-agregarProd">
                <div class="form-agregarProd">
                    <label>Precio</label>
                    <input type="number" name="price" id="price" value="<%= Producto.price %>">
                </div>
                <div class="form-agregarProd">
                    <label>Descuento</label>
                    <input type="number" name="discount" id="discount" value="<%= Producto.discount %>">
                </div>
                <div class="form-agregarProd">
                    <label>Tipo:</label>
                    <select name="type" id="type" value="<%= Producto.type %>">
                        <option value="promociones">Promociones</option>
                        <option value="novedades">Novedades</option>
                        <option value="ultimas-vistas">Ultimas vistas</option>
                    </select>
                </div>
                <div class="form-agregarProd">
                    <label>Categoría:</label>
                    <select name="category" id="category" value="<%= Producto.category %>">
                        <option value="Accesorio">Accesorios</option>
                        <option value="Bicicleta">Bicicletas</option>
                        <option value="Repuesto">Repuestos</option>
                    </select>
                </div>
                <div class="form-agregarProd">
                    <label>Descripción</label>
                    <textarea name="description" id="description" cols="30" rows="10" value="<%= Producto.description %>"></textarea>
                </div>
                <button type="submit" id="submit" class="boton-agregarProd" value="edit">EDITAR</button>   
            </form>
        </div>
    </main> 
    <script src="../../js/productoNuevo.js"></script>
</body>
</html>
