<!DOCTYPE html>
<html>
    <%- include('./partials/head', {title: 'Inicio'}) %>

     <body class="body-index">
    <%- include('./partials/header') %>   
    <main class="main-index">
        <div class="banner">
            <img src="/img/products/banerl.jpg" alt="">
            <img src="/img/products/baner2.jpg" alt="">
            <img src="/img/products/baner3.jpg" alt="">
        </div>
 
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/js/jquery.slides.js"></script>
    <script>
        $(function(){
  $(".banner").slidesjs({
    play: {
      active: true,
        // [boolean] Generate the play and stop buttons.
        // You cannot use your own buttons. Sorry.
      effect: "slide",
        // [string] Can be either "slide" or "fade".
      interval: 3000,
        // [number] Time spent on each slide in milliseconds.
      auto: true,
        // [boolean] Start playing the slideshow on load.
      swap: true,
        // [boolean] show/hide stop and play buttons
      pauseOnHover: false,
        // [boolean] pause a playing slideshow on hover
      restartDelay: 2500
        // [number] restart delay on inactive slideshow
    }
  });
});
    </script>
        <h2>Ultimas Vistas</h2>
        <div class="contenedor-por-seccion">
        <% productos.forEach(producto => { %>
          <% if (producto.type == 'ultimas-vistas') { %>
            <div class="contenedor">
                <a href="/products/productDetail/<%= producto.id %>" id="contenedor"><img src="/img/products/<%= producto.image %>"  alt=""></a>
                <h3><%= producto.name %></h3>
                <h4>$<%= producto.price %> ARS</h4>
                <h5><%= producto.discount %> % off</h5>
                <a href=""><i id="carrito" class="fas fa-dolly" style="color: black;"></i></a>
            </div>
            <% } %>
            <% }) %>
          
        </div>

        <h1>NOVEDADES</h1>
        <div class="contenedor-por-seccion">
            <% productos.forEach(producto => { %>
                <% if (producto.type == 'novedades') { %>
                <div class="contenedor">
                  <a href="/products/productDetail/<%= producto.id %>" id="contenedor"><img src="/img/products/<%= producto.image %>"  alt=""></a>
                    <h3><%= producto.name %></h3>
                    <h4>$<%= producto.price %> ARS</h4>
                    <h5><%= producto.discount %> % off</h5>
                    <a href=""><i id="carrito" class="fas fa-dolly" style="color: black;"></i></a>
                </div>
                <% } %>
                <% }) %>
            </div>
           
        <h1>PROMOCIONES</h1>
        <div class="contenedor-por-seccion">
            <% productos.forEach(producto => { %>
                <% if (producto.type == 'promociones') { %>
                <div class="contenedor">
                  <a href="/products/productDetail/<%= producto.id %>" id="contenedor"><img src="/img/products/<%= producto.image %>"  alt=""></a>
                    <h3><%= producto.name %></h3>
                    <h4>$<%= producto.price %> ARS</h4>
                    <h5><%= producto.discount %> % off</h5>
                    <a href=""><i id="carrito" class="fas fa-dolly" style="color: black;"></i></a>
                </div>
                <% } %>
                <% }) %>
            </div>
    </main>
    
    <%- include('./partials/footer') %>

</body>
</html>