<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body class="fondo-main">
    <%- include('./partials/header', {title: 'Registro de Usuarios'}) %>
    <main class="fondo-main">
        <% if (typeof errors != 'undefined') { %>
            <p style="color: rgb(14, 10, 10); font-family: 'Fjalla One', sans-serif; font-size: 1.5vw;">ERROR</p>
            <ul>
                <% for( let i = 0; i < errors.length; i++) { %>
                <li>
                    <%= errors[i].msg%>
                </li>
                <% } %>
            </ul>
        <% } %>
        <form action="/user/register" method="POST"  class="style-form" enctype="multipart/form-data">
            <div class="control-form">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" class="control-input" value="<%= locals.old && old.nombre ? old.nombre : ''%>" />
            </div>
            <div class="control-form">
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" class="control-input" value="<%= locals.old && old.apellido ? old.apellido : ''%>" />
            </div>
            <div class="control-form">
                <label for="documento">Documento Nº</label>
                <input type="number" name="documento" class="control-input" value="<%= locals.old && old.documento ? old.documento : ''%>" />
            </div>
            <div class="control-form">
                <label for="direccion">Dirección</label>
                <input type="text" name="direccion" class="control-input" value="<%= locals.old && old.direccion ? old.direccion : ''%>" />
            </div>
            <div class="control-form">
                <label for="email">Correo Electronico</label>
                <input type="email" name="email" placeholder="correo electronico"   class="control-input" value="<%= locals.old && old.email ? old.email : ''%>" >
            </div>
            <div class="control-form">
                <label for="fecha">Fecha de Nacimiento</label>
                <input type="date" name="fecha" class="control-input" value="<%= locals.old && old.fecha ? old.fecha : ''%>" >
            </div>
            <div class="control-form">
                <label>Imagen de Perfil</label>
                <input type="file" name="image" accept=".jpg, .png" class="control-input" required> 
            </div> 
            <div class="control-form">
                <label>Contraseña</label>
                <input type="password" name="contraseña" class="control-input" >
            </div>
                <a href=""><button type="submit" class="boton-form">REGISTRARSE</button></a>
        </form>
    </main>
   
</body>
</html>